<!DOCTYPE html>
{% load static %}
<html lang="ko">
<!-- 스크롤바 커스텀 -->
<style>
  body::-webkit-scrollbar {
    width: 16px;
  }

  body::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, rgb(26, 204, 141), rgb(112, 138, 212));
    border-radius: 100px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
  }

  body {
    scrollbar-color: #D4AA70 #e4e4e4;
  }

  body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #1acc8d 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
  }
</style>


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DdareungMap</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/pin.png' %}" rel="icon">
  <link href="{% static 'img/pin.png' %}" rel="pin">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: Bootslander - v4.7.2
  * Template URL: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{% url 'bikeapp:mainpage'%}"><span>DdareungeMap</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#features">개발환경</a></li>
          <li><a class="nav-link scrollto" href="#counts">따릉이맵실행</a></li>
          <li><a class="nav-link scrollto" href="#details">소감&질의응답</a></li>
          <li><a class="nav-link scrollto" href="dda_db/">관리자용</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>따릉이 사용자를 위한 길찾기 서비스, <span>따릉이맵</span></h1>
            <h2>이제 길찾기를 이용하면서 따릉이 대여소 위치를 함께 확인해보세요! </h2>
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto"><i class="bi bi-bicycle"
                  style="vertical-align: middle; font-size: 2rem"></i> <span
                  style="vertical-align: middle">따릉이맵이란?</span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="{% static 'img/main.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row d-flex align-items-start">
          <div
            class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items stretch aos-init aos-animate"
            data-aos="fade-right">
            <a></a>
          </div>

          <div
            class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5"
            data-aos="fade-left">
            <h3 style="color:#0087EE">자전거 길찾기 검색하면서 주변 대여소 위치를 알 수 없을까?</h3>
            <p>자전거 길 찾을 때 출발지, 도착지 근처 따릉이 대여소를 같이 확인할 수 없어서 불편하지 않으셨나요?
              저희 프로젝트는 이 의문점에서 출발하였습니다. 자전거 길 경로를 보면서
              근처 대여소를 바로 확인하고 싶을때, 이제 한 화면에서 확인해보세요. </p>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div style="text-align : center;"><img src="{% static 'img/seoulbike.PNG' %}" alt="" class="img-fluid" ,
                  width=500px></div>
              </a>
              <div style="text-align : center;">서울 자전거 따릉이에서는 따릉이 대여소 조회만 가능 <br>(출처 : <a
                  href=https://www.bikeseoul.com/app/station/moveStationRealtimeStatus.do>서울자전거 따릉이 - 무인대여시스템</a>)</div>
            </div>

            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div style="text-align : center;"><img src="{% static 'img/navermap.PNG' %}" alt="" class="img-fluid" ,
                  width=500px></div>
              </a>
              <div style="text-align : center;">자전거 길찾기에서 자전거 대여소를 확인하려면 경유지를 따로 설정해주어야함<br>
                (출처 : <a
                  href=https://map.naver.com/v5/directions/-/-/-/bike?c=14123297.4594607,4510110.4580963,12,0,0,0,dh>네이버
                  길찾기</a>)</div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Team</h2>
          <p style="color:#ABF5C9">새싹 따릉이</p>
        </div>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'img/죠르디.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>이보라</h4>
                <span>새싹 따릉이 조장</span>
                <div class="social">
                  <p></p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'img/시나모롤.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>정인혜</h4>
                <span>새싹 따릉이 조원</span>
                <div class="social">
                  <p></p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'img/이브이.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>이승준</h4>
                <span>새싹 따릉이 조원</span>
                <div class="social">
                  <p></p>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="member" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'img/스누피.jpg'%}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>박현우</h4>
                <span>새싹 따릉이 조원</span>
                <div class="social">
                  <p></p>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Development Environment</h2>
          <p>개발 환경</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48"
                style=" fill:#000000;">
                <path fill="#0277BD"
                  d="M24.047,5c-1.555,0.005-2.633,0.142-3.936,0.367c-3.848,0.67-4.549,2.077-4.549,4.67V14h9v2H15.22h-4.35c-2.636,0-4.943,1.242-5.674,4.219c-0.826,3.417-0.863,5.557,0,9.125C5.851,32.005,7.294,34,9.931,34h3.632v-5.104c0-2.966,2.686-5.896,5.764-5.896h7.236c2.523,0,5-1.862,5-4.377v-8.586c0-2.439-1.759-4.263-4.218-4.672C27.406,5.359,25.589,4.994,24.047,5z M19.063,9c0.821,0,1.5,0.677,1.5,1.502c0,0.833-0.679,1.498-1.5,1.498c-0.837,0-1.5-0.664-1.5-1.498C17.563,9.68,18.226,9,19.063,9z">
                </path>
                <path fill="#FFC107"
                  d="M23.078,43c1.555-0.005,2.633-0.142,3.936-0.367c3.848-0.67,4.549-2.077,4.549-4.67V34h-9v-2h9.343h4.35c2.636,0,4.943-1.242,5.674-4.219c0.826-3.417,0.863-5.557,0-9.125C41.274,15.995,39.831,14,37.194,14h-3.632v5.104c0,2.966-2.686,5.896-5.764,5.896h-7.236c-2.523,0-5,1.862-5,4.377v8.586c0,2.439,1.759,4.263,4.218,4.672C19.719,42.641,21.536,43.006,23.078,43z M28.063,39c-0.821,0-1.5-0.677-1.5-1.502c0-0.833,0.679-1.498,1.5-1.498c0.837,0,1.5,0.664,1.5,1.498C29.563,38.32,28.899,39,28.063,39z">
                </path>
              </svg>
              <h3 style=color:#9B26E9>&nbsp;Python</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <i class="bi bi-bootstrap" style="color: #5578ff;"></i>
              <h3 style=color:#9B26E9>Bootstrap</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="150">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 50 50"
                style=" fill:#29cc61;">
                <path
                  d="M47.49,4.67l-3.41-3.21l-1.47-1.39l-1.37,1.49L38.99,4h-8c-0.02,0-0.04,0-0.06,0.01C30.91,4,30.9,4,30.88,4H9 C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9.22l1.6-1.74l1.33-1.46L47.49,4.67z M14.45,40 c-3.72,0-6.27-1.98-6.45-5h2.55c0.27,1.64,1.81,2.62,4.09,2.62c2.09,0,3.63-1.09,3.63-2.65c0-1.37-0.91-2.1-3.18-2.65l-2.18-0.54 c-3-0.73-4.46-2.29-4.46-4.75c0-3.02,2.46-5.03,6.19-5.03c3.45,0,6,2.01,6.09,4.93h-2.55c-0.27-1.55-1.63-2.55-3.63-2.55 c-2.1,0-3.46,1-3.46,2.55c0,1.28,0.91,1.92,3.09,2.47l1.91,0.46C19.55,30.68,21,32.14,21,34.7C21,37.99,18.45,40,14.45,40z M36,34 h-9.38v0.13c0.1,2.12,1.5,3.75,3.57,3.75c1.5,0,2.62-0.53,3.09-1.5h2.53C35.25,38.67,33.09,40,30.09,40C26.34,40,24,37.52,24,33.54 S26.34,27,30.09,27c3.66,0,5.91,2.39,5.91,6.28V34z M29.73,24L19,13.8l3.23-3.4l7.31,6.8L42.71,2.91l3.41,3.21L29.73,24z M30.09,29.05c-1.85,0-3.12,1.18-3.34,2.95h6.59C33.14,30.16,31.95,29.05,30.09,29.05z">
                </path>
              </svg>
              <h3 style=color:#9B26E9>&nbsp;Selenium</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 24 24"
                style=" fill:#000000;">
                <path
                  d="M 11 3 L 11 8.1582031 C 10.653 8.0172031 9.9041562 8 9.5351562 8 C 6.7591563 8 4.1894531 9.306 4.1894531 13 C 4.1894531 17.42 7.67 18 10 18 C 10.92 18 13 17.909141 14 17.619141 L 14 3 L 11 3 z M 16 3 L 16 6 L 19 6 L 19 3 L 16 3 z M 16 8 L 16 16.701172 C 16 18.217172 15.078 19.795172 13 20.701172 L 15.859375 21.996094 C 18.765375 20.996094 19 17.701172 19 16.701172 L 19 8 L 16 8 z M 9.9707031 10.550781 C 10.290703 10.550781 10.65 10.609453 11 10.689453 L 11 15.392578 C 10.65 15.472578 10.290703 15.533203 9.9707031 15.533203 C 8.6607031 15.533203 7.390625 15.12 7.390625 13 C 7.390625 10.88 8.6607031 10.550781 9.9707031 10.550781 z">
                </path>
              </svg>
              <h3 style=color:#9B26E9>&nbsp;Django</h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="250">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 48 48"
                style=" fill:#000000;">
                <path fill="#29b6f6"
                  d="M44,11.11v25.78c0,1.27-0.79,2.4-1.98,2.82l-8.82,4.14L34,33V15L33.2,4.15l8.82,4.14 C43.21,8.71,44,9.84,44,11.11z">
                </path>
                <path fill="#0277bd"
                  d="M9,33.896L34,15V5.353c0-1.198-1.482-1.758-2.275-0.86L4.658,29.239 c-0.9,0.83-0.849,2.267,0.107,3.032c0,0,1.324,1.232,1.803,1.574C7.304,34.37,8.271,34.43,9,33.896z">
                </path>
                <path fill="#0288d1"
                  d="M9,14.104L34,33v9.647c0,1.198-1.482,1.758-2.275,0.86L4.658,18.761 c-0.9-0.83-0.849-2.267,0.107-3.032c0,0,1.324-1.232,1.803-1.574C7.304,13.63,8.271,13.57,9,14.104z">
                </path>
              </svg>
              <h3 style=color:#9B26E9>&nbsp;Visual Studio Code</h3>
            </div>
          </div>
        </div>
      </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="section-title" data-aos="fade-up">
            <p style="color:#708AD4">자전거 길찾기 실행</p>
          </div>

          <!-- <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div> -->

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">

            <div OnClick="location.href ='mapfind/'" class="count-box" , text-align="center"></a>


              <i class="bi bi-bicycle" style="font-size: 2rem"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                class="purecounter"></span>
              <p style=font-size:20px;>자전거 길찾기 실행하기</p>
            </div>
          </div>

          <!-- <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hard Workers</p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>프로젝트 진행소감 및 보완해야할 점</h3>
            <p class="fst-italic">
              프로젝트를 진행하면서 앞으로 보완해야할 사항들을 점검해보고자 합니다.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> 회원가입 및 로그인 화면을 만들어 회원들을 위한 경로 즐겨찾기 기능 추가</li>
              <li><i class="bi bi-check"></i> </li>
              <li><i class="bi bi-check"></i> Iure at voluptas aspernatur dignissimos doloribus repudiandae.</li>
              <li><i class="bi bi-check"></i> Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.
              </li>
            </ul>
            <p>
              
            </p>
          </div>
        </div>
        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'img/details-2.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>질의 응답 시간 - 궁금한 사항이 있다면 질문해주세요 :)</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
            </p>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
              voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum
            </p>
            <p>
              Inventore id enim dolor dicta qui et magni molestiae. Mollitia optio officia illum ut cupiditate eos
              autem. Soluta dolorum repellendus repellat amet autem rerum illum in. Quibusdam occaecati est nisi esse.
              Saepe aut dignissimos distinctio id enim.
            </p>
          </div>
        </div>

        <!-- End Details Section -->




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-12 col-md-6">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div style="text-align : center;"><img src="{% static 'img/bike.jpg'%}" alt="" class="img-fluid" ,
                  width=700px>
              </div> <!-- 최하단 이미지 관련 코드 -->
            </div>
            <!-- <div class="footer-info">
              <h3>Bootslander</h3>
              <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div> -->
          </div>

          <!-- <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div> -->
          <!-- 
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div> -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bootslander</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bootslander-free-bootstrap-landing-page-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>